h3 {
    margin: 20px;
}

#form-control-add-kpi {
    min-width: 300px;
    margin: 5px;
}

.add-kpi-form {
    align-content: center;
    text-align: start;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: stretch;
}

label {
    margin-left: 20px;
}

.target-value-input-add-kpi {
    height: 50px;
    width: 95%;
    margin: 1px 10px 1px 1px;
    border: 1px solid #bebdbd;
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
    color: black;
}
