h3 {
    margin: 20px 20px 20px 20px;
}

.add-kpi-form {
    align-content: center;
    text-align: start;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: stretch;
}

input {
    width: 100px;
    margin: 30px;
}

label {
    margin-left: 20px;
}

.target-value-input-add {
    height: 50px;
    width: 95%;
    margin: 1px 10px 1px 1px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
    color: #6c6b6b;
}
