h3 {
    margin: 20px 20px 20px 20px;
}

form {
    align-content: center;
    border: black solid 1px;
    background-color: white;
    text-align: start;
    margin: 40px 40px 40px 45px;
    max-width: 500px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: stretch;
}

.selector {
    width: 100px;
    height: 20px;
    margin: 20px;
}

input {
    width: 100px;
    margin: 10px;
}

label {
    margin-left: 20px;
}
