@import url('https://fonts.googleapis.com/css?family=DM+Sans');

.toast-message {
    --toastify-color-error: #e3655b;
    --toastify-icon-color-error: #e3655b;
    --toastify-color-progress-error: #e3655b;
    color: #868582;
    font-size: 15px;
    width: 34vw;
    padding: 10px 10px;
}

body {
    border-top: solid 1px white;
    background-color: #f8f7f3;
    font-family: "DM Sans", sans-serif;
    height: 100%;
}

h1 {
    font-family: "DM Sans", sans-serif;
}

button {
    margin: 5px;
    border-radius: 5px;
    max-height: 20px;
    background-color: #fe832d;
    font-family: "DM Sans", sans-serif;
    max-width: 150px;
    color: white;
    border: #fe832d 1px solid;
}
