.name-change, h3 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.target-value-input-change {
    height: 50px;
    width: 97%;
    margin: 1px 10px 1px 1px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
}

.form-change-kpi-admin {
    align-content: center;
    text-align: start;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: stretch;
    padding: 5px;
    background-color: white;
    border: black solid 1px;
    width: 500px;
    margin: 50px 45px 50px 45px;
}
