form {
    padding: 5px;
}

Select {
    margin: 30px 0 10px 0
}

.name, h3 {
    margin-left: 10px
}

.target-value-input {
    height: 50px;
    width: 97%;
    margin: 1px 10px 1px 1px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
}
