#add-values {
    border: black solid 1px;
    background-color: white;
    margin: 45px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
}

.value-input-form {
    border: white;
    margin: 10px;
    padding: 5px;
}

.change-kpi-form {
    border: white;
    margin: 0;
    display: flex;
}

.kpi-value-input {
    height: 50px;
    width: 97%;
    margin: 1px 10px 1px 1px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
}
