@import url('https://fonts.googleapis.com/css?family=DM+Sans');

Header {
    border-bottom: black 1px solid;
    background-color: white;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 1fr;
    justify-items: end;
    font-family: "DM Sans", sans-serif;
}

.nav {
    color: black;
    font-size: medium;
    text-decoration: none;
    margin-left: 20px;
}

.menu {
    align-self: end;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
}

.coffee-lover {
    margin: 10px;
    justify-self: center
}

h1 {
    align-self: end;
    justify-self: center;
    font-size: x-large;
}
