@import url('https://fonts.googleapis.com/css?family=DM+Sans');

Header {
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    border-bottom: black 1px solid;
    background-color: white;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 1fr;
    justify-items: end;
    font-family: "DM Sans", sans-serif;
    position: fixed;
}

.nav {
    color: black;
    font-size: medium;
    text-decoration: none;
    margin-left: 20px;
}

.menu {
    align-self: end;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
}

.coffee-lover {
    margin: 10px;
    justify-self: center;
    height: 80px
}

h1 {
    align-self: end;
    justify-self: start;
    margin-left: 10px;
    font-size: x-large;
}
