h2 {
    text-align: center;
    font-size: x-large;
    margin: 30px;
}

.kpi-board {
    display: grid;
    grid-template-columns: 3fr repeat(12, 40px) 3fr 3fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

.red, .green {
    height: 27px;
    border-radius: 10px;
    border: white 5px solid;
    box-shadow: 0 0 2px 0 #868582;
}

.name {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-right: 5px;
    justify-self: end;
    align-self: center;
    font-size: large;
}

.month-headline1, .month-headline2, .month-headline3,
.month-headline4, .month-headline5, .month-headline6,
.month-headline7, .month-headline8, .month-headline9,
.month-headline10, .month-headline11, .month-headline12 {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
}

.target-value-headline {
    grid-column-start: 14;
    grid-column-end: 14;
    font-size: large;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
}

.target-value {
    grid-column-start: 14;
    grid-column-end: 14;
    font-size: medium;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.actual-target-value-headline {
    grid-column-start: 15;
    grid-column-end: 15;
    font-size: large;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
}

.actual-target-value {
    grid-column-start: 15;
    grid-column-end: 15;
    font-size: medium;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.kpi-board-with-headline {
    background-color: white;
    border: black solid 1px;
    padding: 20px;
    width: 93%;
    margin: 60px 45px 60px 45px;
}
