.kpi-gallery-view {
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 5%;
    background-color: white;
    border: black solid 1px;
    padding: 20px;
    margin-left: 45px;
}

.kpi-gallery-add-section {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
    margin-right: 5%;
    padding: 20px;
    margin-left: 45px;
}

.headline {
    margin-left: 10px;
}

.button-admin-add-user-1, .button-admin-add-role-1,
.button-admin-add-user-2, .button-admin-add-role-2,
.button-add-kpi {
    background-color: #fe832d;
    color: white;
    border: #fe832d 1px solid;
    width: 150px;
}

.button-admin-add-user-1 {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
}

.button-admin-add-user-2 {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: start;
}

.button-admin-add-role-1 {
    grid-column-start: 5;
    grid-row-start: 1;
    align-self: end;
}

.button-admin-add-role-2 {
    grid-column-start: 5;
    grid-row-start: 2;
    align-self: start;
}

.role-logo {
    grid-column-start: 4;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
    border: #6c6b6b solid 1px;
}

.user-logo {
    grid-column-start: 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
    border: #6c6b6b solid 1px;
}

.button-add-kpi {
    margin: 30px 0 30px 10px;
}