.login-page {
    margin: 350px 45px 0 45px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 30%;
    align-items: start;

}

#login-username-input, #login-password-input {
    background-color: white;
}

.login-form {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: end;
    justify-items: stretch;
}

.login-page-pic {
    padding-top: 300px;
}
