.show-single-kpi-admin {
    border-top: 1px #fe832d solid;
    margin: 1px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    justify-items: stretch;
}

.description-single-kpi {
    margin: 20px;
}
