.show-single-kpi {
    border: black solid 1px;
    background-color: white;
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    justify-items: stretch;
}

.description-single-kpi {
    margin: 20px;
}

button {
    margin: 20px;
    border: #868582 1px solid;
    border-radius: 10%;
    background-color: white;
    font-family: "DM Sans", sans-serif;
    width: 300px
}

.navigate-to-update-button {
    width: 200px;
}

