.show-single-kpi {
    border: black solid 1px;
    background-color: white;
    text-align: start;
    margin: 5px;
    width: 300px;
}

.description-single-kpi {
    margin: 20px
}

.delete-button {
    margin: 20px
}
